body {
    background-color: powderblue;
    margin: 75px;
}

h1{
    color: DarkSlateBlue;
    font-family: Georgia;
    font-style: normal;
}

h2{
    color: DarkSlateGray;
}

.first {
    border: 2px solid black;
    color: RosyBrown;
    margin: 10px;
    padding: 20px;
    display: inline-block;
    font-size: 20px
    ;
}

.second{
    font-family: Arial;
    font-style: oblique;
    color: tomato;
}

a{
    color: black;
}
.visited{
    color: tomato;
}

.third{
    border: 2px solid black;
    font-style: normal;
    height: 100px; 
    width: 600px;
    display: inline-block;
}

image{
    background-color: powderblue;
    display: inline-block;
}

h4{
    font-size: 20px;
    
}

table{
    border-collapse: collapse;
}

table, th, td {
    border: 3px solid black;
}

th{
    height: 30px;
}

button:hover{
    background-color: grey;
    color: white;
}

h5{
    font-size: 20px;
    color: midnightblue;
    text-decoration: underline;
}

input[type=text], select {
    width: 50%;
    padding: 8px 12px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid ;
    border-radius: 2px;
}

input[type=text][name="message"], select {
    width: 50%;
    padding: 50px 12px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid ;
    border-radius: 2px;
}

button[type=button], select {
    width: 57.5%;
    padding: 8px 12px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid;
    border-radius: 2px;
}

label{
    width: 100px; 
    display: inline-block;
}

@media (max-width: 700px){
    .first, .third, .fourth{
        width: 50%;
        font-size: 14px;
    }
    .first{
        border: 4px dotted white;
    }
    .third{
        background-color: pink;
    }
}

@media (max-width: 1500px) and (min-width: 701px){
    .first, .third, .fourth{
        font-size: 25px;
    }
}